@import "tailwindcss";

@theme {
  --text-myXl: 1.3125rem;
  --text-myXl--line-height: 2rem;

  --text-my4xl: 2.375rem;
  --text-my4xl--line-height: 3.25rem;
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-oswald: var(--font-oswald);

  --color-myBlack: rgb(27 27 27);
  --color-myOrange: rgb(255 115 60);
  --color-myGreen: rgb(50 190 80);
  --color-myGreenDark: rgb(40 155 80);
  --color-mySmoke: rgb(90 105 140);
  --color-myRed: rgb(220 53 69);
}

body {
  color: var(--color-myBlack);
  @apply font-sans;
}

@layer base {
  .wrapper {
    @apply max-w-[73.25rem] mx-auto px-4 sm:px-6;
  }

  .tab-link {
    @apply text-sm leading-5 py-3 relative after:absolute after:bottom-0 after:h-1 after:rounded-t-full after:w-full after:left-0 after:bg-transparent hover:after:bg-white after:transition-colors after:duration-150;
  }

  .tab-link.isActive {
    @apply after:bg-myOrange;
  }

  .myLink,
  .cta-button {
    @apply bg-myGreen active:bg-myBlack focus:bg-myBlack text-myBlack active:text-white hover:text-white focus:text-white border border-myBlack rounded-full inline-flex items-center gap-2.5 h-11 px-10 select-none transition-all duration-150 font-sans;
  }

  .cta-button {
    @apply cursor-pointer disabled:cursor-not-allowed disabled:opacity-60 disabled:pointer-events-none;
  }

  .white-box {
    @apply bg-white p-6 lg:p-8 rounded-2xl lg:rounded-[1.875rem] border border-myBlack;
  }

  .textbox {
    @apply rounded-full border border-myBlack focus:border-myOrange focus:ring-0 focus-visible:outline-0 h-12 bg-white transition-colors duration-150 px-4 font-sans w-full;
  }

  .textbox::placeholder {
    color: #737373
  }

  .field-status {
    @apply absolute right-0 -translate-x-full top-1/2 -translate-y-1/2 size-5 pointer-events-none select-none;
  }

  .field-error {
    @apply block text-xs leading-4 text-myRed mt-[7px]
  }

  /* custom checkbox */
  .custom-ch-label {
    @apply text-sm lg:text-base leading-5.5 py-3 px-4 inline-flex gap-3 items-center rounded-full border cursor-pointer transition-all duration-150 select-none hover:bg-[#DCE6E6];
  }

  .custom-ch:checked~.custom-ch-label {
    @apply bg-myBlack text-white;
  }

  .custom-ch:checked~.custom-ch-label .success,
  .custom-ch~.custom-ch-label .neutral {
    display: block;
  }

  .custom-ch:checked~.custom-ch-label .neutral,
  .custom-ch~.custom-ch-label .success {
    display: none;
  }

  ::selection {
    @apply bg-[#34456d] text-white
  }
}